@charset "UTF-8";
/* CSS Document */

html, body
{margin:0px; text-align:center; background:url(images/background.png); }

#main
{width:850px; margin:0px auto 0px auto; position:relative;}

#header
{width:800px; height:100px; right:25px; left:25px; background:url(images/background1.png) repeat-y; text-align:left; position:absolute; z-index:3}

#index_header
{width:100%; height:54px; background:#FFF; text-align:center;}

#facebook_holder
{ width:256px; height:42px; background:url(images/facebook.png); position:absolute; top:59px;}

#facebook_holder_mainpage
{ width:256px; height:42px; background:url(images/facebook.png); position:absolute; top:5px;}

#hoofdmenu
{width:800px; height:330px; right:25px; left:25px; text-align:left; position:absolute; z-index:3}

#hoofdmenu_info
{width:292px; height:330px; left:17px; background:url(images/hoofdmenu_info.png); position:absolute; z-index:3}

#hoofdmenu_planning
{width:226px; height:330px; left:238px; background:url(images/hoofdmenu_planning.png); position:absolute; z-index:3}

#hoofdmenu_verhuur
{width:270px; height:330px; left:397px; background:url(images/hoofdmenu_verhuur.png); position:absolute; z-index:3}

#hoofdmenu_fotos
{width:241px; height:330px; left:542px; background:url(images/hoofdmenu_fotos.png); position:absolute; z-index:3}

#menu
{width:800px; height:25px; top:100px; right:25px; left:25px; background:url(images/background1.png) repeat-y; text-align:right; position:absolute; z-index:3}

#submenu
{width:850px; height:80px; top:120px; left:0px; background:url(images/background2.png); text-align:left; position:absolute; z-index:4}

#content
{width:800px; top:175px; right:25px; left:25px;  background:url(images/background1.png) repeat-y; text-align:left; position:absolute; z-index:3}

#top
{width:800px; top:330px; left:25px; right:25px; height:5px; background:url(images/background1_top.png); text-align:left; position:absolute; z-index:3}

#bottom
{width:800px; left:25px; right:25px; height:5px; background:url(images/background1_bottom.png); text-align:left; position:absolute; z-index:3}

#footer
{width:800px; margin:15px 0px 15px 0px; padding-bottom:15px; left:25px; right:25px; text-align:center; font-family:Arial; font-size:16px; color:#FFF; position:absolute; z-index:3}

#foto1
{width:372px; height:382px; top:100px; right:750px; background:url(images/foto1.png) no-repeat; position:absolute; z-index:2;}

#foto2
{width:352px; height:369px; top:100px; right:750px; background:url(images/foto2.png) no-repeat; position:absolute; z-index:2;}

#foto3
{width:372px; height:377px; top:100px; right:750px; background:url(images/foto3.png) no-repeat; position:absolute; z-index:2;}

#foto_planning1
{width:168px; position:absolute; left:581px; top:25px;}

#foto_planning_sub1
{width:140px; position:absolute; left:14px;}

#foto_planning_top1
{width:168px; height:14px; background:url(images/foto_planning_top.png) no-repeat; position:absolute;}

#foto_planning_bot1
{width:168px; background:url(images/foto_planning_bot.png) no-repeat bottom; position:absolute; top:14px;}

#foto_planning2
{width:168px; position:absolute; left:551px; top:125px;}

#foto_planning_sub2
{width:140px; position:absolute; left:14px;}

#foto_planning_top2
{width:168px; height:14px; background:url(images/foto_planning_top.png) no-repeat; position:absolute;}

#foto_planning_bot2
{width:168px; background:url(images/foto_planning_bot.png) no-repeat bottom; position:absolute; top:14px;}

#planning
{width:500px;}

#hoofdmenu_content
{width:800px; top:335px; right:25px; left:25px;  background:url(images/background1.png) repeat-y; text-align:left; position:absolute; z-index:3;}

#hoofdmenu_nieuws
{width:400px; float:left;}

#hoofdmenu_kalender
{width:400px; float:right}

h1
{font-family:Arial; font-size:70px; color:#09C; margin:auto 20px auto 20px;}

h2
{font-family:Arial; font-size:20px; color:#09C; margin:0px; padding:15px 20px 15px 20px;}

h3
{font-family:Arial; font-size:16px; font-weight:bold; color:#3B3D3C; margin:0px; padding:0px 20px 0px 20px;}

p
{font-family:Arial; font-size:16px; color:#3B3D3C; margin:0px; padding:0px 20px 15px 20px;}

a.link
{font-family:Arial; font-size:16px; color:#3B3D3C; margin:0px; padding:0px; text-decoration:underline;}

ul.menu_ul
{margin:auto 20px auto 20px; padding:0px; list-style:none; }

li.menu_li
{display:inline; margin:0px; padding:0px; }

a.menu_link
{font-family:Arial; font-size:16px; color:#3B3D3C; margin:0px; padding:0px; text-decoration:none;}

a.menu_link:hover
{font-family:Arial; font-size:16px; color:#09C; margin:0px; padding:0px; text-decoration:none;}

ul.submenu_ul
{margin:0px 0px 0px 45px; padding:15px 0px 0px 0px; list-style:none; }

li.submenu_li
{font-family:Arial; font-size:20px; color:#3B3D3C; display:inline; margin:0px; padding:0px; }

a.submenu_link
{font-family:Arial; font-size:20px; color:#3B3D3C; margin:0px; padding:0px; text-decoration:none;}

a.submenu_link:hover
{font-family:Arial; font-size:20px; color:#FFF; margin:0px; padding:0px; text-decoration:none;}
